name: CI

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        platform:
          - os: "ubuntu-24.04"
            target: "x86_64-unknown-linux-gnu"
          - os: "ubuntu-24.04"
            target: "aarch64-unknown-linux-gnu"
          - os: "windows-2022"
            target: "x86_64-pc-windows-msvc"
        toolchain:
          - "stable"
        profile:
          - "release"
    runs-on: ${{ matrix.platform.os }}
    steps:
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
          targets: ${{ matrix.platform.target }}
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
      - uses: actions/checkout@v4
      - name: Build
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: "build"
          target: ${{ matrix.platform.target }}
          toolchain: ${{ matrix.toolchain }}
          args: "--locked --release --all-targets --all-features"
      - name: Test
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: "test"
          target: ${{ matrix.platform.target }}
          toolchain: ${{ matrix.toolchain }}
          args: "--locked --release --all-targets --all-features"
      - name: Version
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: "run"
          target: ${{ matrix.platform.target }}
          toolchain: ${{ matrix.toolchain }}
          args: "--bin osovd-cli -- --version"
