name: ci

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        platform:
          - os: "ubuntu-latest"
            target: "x86_64-unknown-linux-gnu"
            profile: "release"
            toolchain: "stable"
          - os: "windows-latest"
            target: "x86_64-pc-windows-msvc"
            profile: "release"
            toolchain: "stable"
    runs-on: ${{ matrix.platform.os }}
    steps:
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.platform.toolchain }}
        targets: ${{ matrix.platform.target }}
        components: clippy, rustfmt
    - uses: actions/checkout@v4
    - name: Format
      run: cargo fmt --all -- --check --verbose
    - name: CLippy
      run: cargo clippy --all-targets --verbose --
    - name: Build
      run: cargo build --locked --all-features --all --profile ${{ matrix.platform.profile }} --target ${{ matrix.platform.target }} --verbose
    - name: Run tests
      run: cargo test --locked --all-features --all --profile ${{ matrix.platform.profile }} --target ${{ matrix.platform.target }} --verbose
