name: CI

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  build:
    name: Build and test (${{ matrix.os }})
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2025, macos-15] # ubuntu-24.04-arm, windows-2025-arm
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Setup OpenSSL (Windows) Environment
        if: runner.os == 'Windows'
        run: |
          echo "OPENSSL_DIR=$env:OPENSSL_DIR" >> $env:GITHUB_ENV
          echo "OPENSSL_LIB_DIR=$env:OPENSSL_DIR\lib\VC\$env:RUNNER_ARCH\MD" >> $env:GITHUB_ENV
          echo "OPENSSL_INCLUDE_DIR=$env:OPENSSL_DIR\include" >> $env:GITHUB_ENV
        env:
          OPENSSL_DIR: C:\Program Files\OpenSSL
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          key: ci-${{ matrix.os }}
      - name: Build
        run: cargo build --locked --workspace --all-targets --all-features
      - name: Test
        run: cargo test --locked --workspace --all-targets --all-features
      - name: Doc test
        run: cargo test --locked --workspace --doc --all-features
