name: "Pull Request Labeler"

on:
  - pull_request_target

jobs:
  labeler:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Check out the repository
        uses: actions/checkout@v5
      - name: Run labeler
        uses: actions/labeler@v5
